﻿				#previewFull {background-color: #666666 !important; width: 482px !important; color: inherit}
				#liveUpdateContactInfo {color: #b3b3b3 !important; background-color: inherit;}
				.borderRightDotted {border-right: 1px dotted #787878 !important;}
				.logo {display: none !important;}
				#liveUpdateCollectionDescription {color: #b3b3b3 !important; background-color: inherit;}
				.detailNav, .detailLinks, #detailCaption, #detailTitle {color: #b3b3b3 !important; background-color: inherit;}
				.emptyThumbnail {background-color: #949494 !important; color: inherit;}
				.thumbnail {background-color: #949494 !important; color: inherit;}
				.previewFullImage {height: 300px !important; width: 482px !important;}
				#stage2 {width: 484px !important;}
				.itemNumber {display: inherit !important; color: #9c9c9c !important; background-color: inherit;}
				#content {background-color: #4c4c4c !important; color: inherit;}
				.borderTopLeft {border-top: 1px solid #787878 !important; border-left: 1px solid #787878 !important;}
				#stage {width: 484px !important;}
				.caption {color: #b3b3b3 !important; background-color: inherit;}
				#wrapper2 {width: 484px !important;}
				.borderBottomRight {border-right: 1px solid #787878 !important; border-bottom: 1px solid #787878 !important;}
				#wrapper {width: 484px !important;}
				#liveUpdateCollectionTitle {color: #b3b3b3 !important; background-color: inherit;}
				.paginationLinks, .pagination, #liveUpdatePagination {color: #b3b3b3 !important; background-color: inherit;}
				.selectedThumbnail, .thumbnail:hover {background-color: #a1a1a1 !important; color: inherit;}
				#liveUpdateSiteTitle {color: #b3b3b3 !important; background-color: inherit;}
				#thumbnailName {color: #b3b3b3 !important; background-color: inherit;}
				#largeName {color: #b3b3b3 !important; background-color: inherit; margin-top: 10px; margin-left: 7px; margin-right: 7px;}
				.borderBottom {border-bottom: 1px solid #787878 !important;}
				.borderRight {border-right: 1px solid #787878 !important;}
				body {background-color: #4c4c4c !important; color: inherit;}
